{% extends'@KronhyxBase/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/kronhyxbase/css/universe.css') }}">
{% endblock %}

{% block page %}
    <div class="stars">&nbsp;</div>
    <div class="twinkling">&nbsp;</div>
    <div class="wrapper-page">
        {% block heart %}
            <div class="text-center">
                <a href="index.html" class="logo">
                <span>Kronhyx
                    <span>Bundle</span>
                </span>
                </a>
                <h5 class="text-muted m-t-0 font-600">Bundle Admin Configurator</h5>
            </div>
            {% block box %}{% endblock %}
        {% endblock %}

    </div>
{% endblock %}